html { 
  height: 100%; /*-- This removes the extra empty space that scrolls past the design of quiz / Less unnecessary scrolling--*/
}

.titleBar {
	border-bottom: solid 0.3em #BABABA; 
	color: #BABABA;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.75em;
	font-family: helvetica, verdana, sans-serif;
	background-color: #FFFFFF;
	letter-spacing: .1em;
}

#title {
	padding: 0.75em 0.75em 0.75em 7.5em;
	margin: auto; 
}

body {
	background-color: #FF3333;
	margin: 0; /*-- This removes the red border around the white titleBar--*/
}

.question{
	float: left; /*-- This moves the score beside the question--*/
	padding-right: 8.7em;
}

.score {
	float: left;
	padding-right: 8.7em;
	letter-spacing: 0.1em;
}

.stats {
	font-family: helvetica, verdana, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 1.25em;
	margin-left: 16.9em;
	margin-top: 1.6em;
}

.restartGame {
	color: black;
	text-decoration:none;
	font-family: helvetica, verdana, sans-serif;
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 1em;
}

a:hover{
	color: #FFCC00;
}

#letterA {
	font-size: 30em;
	float: left; /*-- This moves the score beside the question--*/
	position: relative; /*-- This and the top code below moves the "a" up and to the right by using left--*/
	top: -700px;
	left: 60px;
	color: white;
	padding-right: 125px; /*-- to push lorem ipsum farther to the right--*/
}

#lorem {
	margin: 2.5em 5em;
	font-size: 1.6em;
	width: 900px; /*-- to avoid the text from shifting around when you resize your window--*/
}

.choices button {
	padding:10px 40px;
	background-color: #33B9B5;
	border: 2px solid #FFCC00;
	color: white;
	text-decoration:none;
	font-family: helvetica, verdana, sans-serif;
	font-weight: bold;
	letter-spacing: 0.2em;
	font-size: 1em;
	margin-right: 1em;
	position: relative;
	outline: none; /*-- removes the ugly blue glow effect--*/
	cursor: pointer; /*-- shows a hand pointing--*/
	text-transform: uppercase; /*-- render text as uppercase --*/
}

.choices {
	margin-top: -1.5em;
}

button:hover{
	color:#FFCC00;
	background-color: black;
}

.feedback {
	font-family: helvetica, verdana, sans-serif;
	font-weight: medium;
	letter-spacing: 1px;
	font-size: 1.25em;
	margin: 2em 5em;
	width: 900px;
	text-align: left;
	color: white;

}